@model Ogdi.InteractiveSdk.Mvc.Models.DataBrowserModel
<p id="pError" class="big" style="margin-left: 25px">
    <strong style="color: Red">
        @ViewData.Model.DBErrorLine1
    </strong>
    <br />
    @ViewData.Model.DBErrorLine2
</p>

