.blue .ajax__tab_header
{
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
}
.blue .ajax__tab_outer
{
    background: url(../images/blue_left.gif) no-repeat 0px 0px;
}
.blue .ajax__tab_inner
{
    background: url(../images/blue_right.gif) no-repeat 100% 0px;
}
.blue .ajax__tab_hover .ajax__tab_outer
{
    background: url(../images/blue_left.gif) no-repeat 0px -150px;
    color: #FFFFFF;
}
.blue .ajax__tab_hover .ajax__tab_inner
{
    background: url(../images/blue_right.gif) no-repeat 100% -150px;
}
.blue .ajax__tab_active .ajax__tab_outer
{
    background: url(../images/blue_left.gif) no-repeat 0px -300px;
    color: #FFFFFF;
}
.blue .ajax__tab_active .ajax__tab_inner
{
    background: url(../images/blue_right.gif) no-repeat 100% -300px;
}

.gray .ajax__tab_header
{
    color: #fff;
}
.gray .ajax__tab_outer
{
    background: url(../images/gray_left.gif) no-repeat 0px 0px;
}
.gray .ajax__tab_inner
{
    background: url(../images/gray_right.gif) no-repeat 100% 0px;
}
.gray .ajax__tab_hover .ajax__tab_outer
{
    background: url(../images/gray_left.gif) no-repeat 0px -150px;
}
.gray .ajax__tab_hover .ajax__tab_inner
{
    background: url(../images/gray_right.gif) no-repeat 100% -150px;
}
.gray .ajax__tab_active .ajax__tab_outer
{
    background: url(../images/gray_left.gif) no-repeat 0px -300px;
}
.gray .ajax__tab_active .ajax__tab_inner
{
    background: url(../images/gray_right.gif) no-repeat 100% -300px;
}

.mixed .ajax__tab_header
{
    color: #fff;
}
.mixed .gray .ajax__tab_outer
{
    background: url(../images/gray_left.gif) no-repeat 0px 0px;
}
.mixed .gray .ajax__tab_inner
{
    background: url(../images/gray_right.gif) no-repeat 100% 0px;
}
.mixed .gray .ajax__tab_hover .ajax__tab_outer
{
    background: url(../images/gray_left.gif) no-repeat 0px -150px;
}
.mixed .gray .ajax__tab_hover .ajax__tab_inner
{
    background: url(../images/gray_right.gif) no-repeat 100% -150px;
}
.mixed .gray .ajax__tab_active .ajax__tab_outer
{
    background: url(../images/gray_left.gif) no-repeat 0px -300px;
}
.mixed .gray .ajax__tab_active .ajax__tab_inner
{
    background: url(../images/gray_right.gif) no-repeat 100% -300px;
}
.mixed .blue .ajax__tab_outer
{
    background: url(../images/blue_left.gif) no-repeat 0px 0px;
}
.mixed .blue .ajax__tab_inner
{
    background: url(../images/blue_right.gif) no-repeat 100% 0px;
}
.mixed .blue .ajax__tab_hover .ajax__tab_outer
{
    background: url(../images/blue_left.gif) no-repeat 0px -150px;
}
.mixed .blue .ajax__tab_hover .ajax__tab_inner
{
    background: url(../images/blue_right.gif) no-repeat 100% -150px;
}
.mixed .blue .ajax__tab_active .ajax__tab_outer
{
    background: url(../images/blue_left.gif) no-repeat 0px -300px;
}
.mixed .blue .ajax__tab_active .ajax__tab_inner
{
    background: url(../images/blue_right.gif) no-repeat 100% -300px;
}

