<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key = "DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[StorageName];AccountKey=[StorageKey]"/>
    <add key = "DiagnosticsConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[StorageName];AccountKey=[StorageKey]" />
    <add key="serviceUri" value="http://[ServiceDNS].cloudapp.net:8080/v1/" />

    <add key="IsAnalytics" value="0" />
    <add key="pathDTD" value="XMLValidation\dtbook-2005-3.dtd" />
    
    <!--
         Please replace the keys below with your private ones obtained from http://recaptcha.net/whyrecaptcha.html.
     -->
    <add key="RecaptchaPrivateKey" value="[PrivateReCaptcha]" />
    <add key="RecaptchaPublicKey" value="[PublicReCaptcha]" />
    <add key="bingCredential" value="[BingCredential]" />

    <!-- provider configuration -->
    <!-- When using the local development table storage service only the default values given
     below will work for the tables (Membership, Roles and Sessions) since these are the names
     of the properties on the DataServiceContext class -->
    <add key = "DefaultMembershipTableName" value="Membership"/>
    <add key = "DefaultRoleTableName" value="Roles"/>
    <add key = "DefaultSessionTableName" value="Sessions"/>
    <add key = "DefaultProviderApplicationName" value="ProviderTest"/>
    <add key = "DefaultProfileContainerName"/>
    <add key = "DefaultSessionContainerName"/>

    <add key="ChartImageHandler" value="storage=session;timeout=20;"  />
    <add key="Service" value="Ogdi.InteractiveSdk.Mvc.IsdkWindowsAzureStorageProvider, WindowsAzureStorageProvider"/>
  </appSettings>
  
  <system.web>
    
  </system.web>
</configuration>