@model Ogdi.InteractiveSdk.Mvc.Models.HomeModel
 
    <div class="welcome">
		 @Html.Raw(@HomeResources.About.AboutPageHeading)
		 @Html.Raw(@HomeResources.About.AboutPageContent)
    </div>
    <div style="clear: both; position: relative">
    </div>