<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="OgdiConfigConnectionString" value="DefaultEndpointsProtocol=https;AccountName=v2datadotgccfg;AccountKey=QPbM/nDpX6Kg1gjrPwS29jv5gmgKmJFCYZgU+6GE5czzgoz7U2/jE+iu4n9BAQI4XW4TBBu+6H9gA/6CShjVLA==" />
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="48" />
    </connectionManagement>
  </system.net>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FF00AD70EDD7206CAA062C85FE2781D9B" validation="SHA1" validationKey="F00AD70EDD7206CAA062C85FE2781D9B1411412F9DE62168764FF0DCE537184F0535D5D9AD66DEDCF00AD70EDD7206CAA062C85FE2781D9B1411412F97DC1ABF" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
