

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
	<div id="eidBuilder"></div>
	<textarea cols="80" rows="10" id="eidTarget"></textarea>
	<script type="text/javascript">


		$(document).ready(function() {
			var meta = new Array();
			meta.push({ name: "Field One", type: 3 });
			meta.push({ name: "Field Two", type: 1 });
			var builder = new Ogdi.QueryBuilder($("#eidBuilder"), meta, "eidTarget");
		});

	</script>

</body>
</html>

