<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace" configSource="App_Data\WebConfigXML\appSettings.Release.xml" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="Default.aspx" mode="RemoteOnly" xdt:Transform="Replace"></customErrors>
  </system.web>
</configuration>