<table width="100%">
<tr>
<td width="30%">
</td>
<td width="40%">
    <ul>
        <li>@Html.ActionLink(AgencyResources.Index.Comments, "AgencyComments", "Comments")</li>
        <li>@Html.ActionLink(AgencyResources.Index.Requests, "RequestsManage", "Request")</li>
        <li><a href="/Reports/Reports.aspx">@AgencyResources.Index.Reports</a></li>
    </ul>
</td>
<td width="30%">
</td>
</tr>
</table>




