<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==" />
    <add key="DiagnosticsConnectionString" value="DefaultEndpointsProtocol=https;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==" />
  </appSettings>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="48" />
    </connectionManagement>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FF00AD70EDD7206CAA062C85FE2781D9B" 
                validation="SHA1" validationKey="F00AD70EDD7206CAA062C85FE2781D9B1411412F9DE62168764FF0DCE537184F0535D5D9AD66DEDCF00AD70EDD7206CAA062C85FE2781D9B1411412F97DC1ABF" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
