<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="table metadata entity set" value="TableMetadata"/>
    <add key="entity metadata entity set" value="EntityMetadata"/>
    <add key="processor params entity set" value="ProcessorParams"/>
    <!--windows azure storage settings-->
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ogdisdkinteractive;AccountKey=8Vz0RvijyFCD7WBEgnTapcgO4izz/v/+Al3OZSgZKBtKuJzbCc9IgRVbUFzDnki7C/4cwBCYE6BszqZuyvFTuQ=="/>
    <add key="LoadThreadsCount" value="10"/>
    <add key="ConcurrentSetsCount" value="20"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Error.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="48"/>
    </connectionManagement>
    <settings>
      <!-- expect100Continue="false", it will not help to increase speed -->
      <!--<servicePointManager expect100Continue="false" useNagleAlgorithm="false"/>  -->
      <servicePointManager useNagleAlgorithm="false"/>
    </settings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
