<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OgdiConfigConnectionString" value="DefaultEndpointsProtocol=https;AccountName=c4ogdiconfig;AccountKey=bI/K7QMDTfmLknhlvtLQBKL4NjFd5ULV4sn6khx1e87qpSY72ogMEfqDmOODIALl15QDwuryll2nXQZCeBkCvQ==" />
  </appSettings>
</configuration>