<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--windows azure storage settings-->
    <add key="LoadThreadsCount" value="10"/>
    <add key="ConcurrentSetsCount" value="20"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[StorageName];AccountKey=[StorageKey]" />
    <add key ="DefaultDescription" value="It represents the {0} of a/an {1}."/>
    <add key=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
